.titulo-depoimentos{
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 24px;
}

.compartilhar{
    text-align: center;
    font-size: 20px;
}

.depoimento-marisa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.texto-depoimentoMarisa{
    width: 50%;
    text-align: justify;
    background-color: #e6e1e1;
    padding: 15px;
    margin: 15px;
}

.meu-depoimento{
    font-weight: 700;
    color:black;
}


.mostra-depoimentos{
    margin: 50px;
    padding: 15px;
    color:black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* font-weight: 700; */
}


.imagem-depoimento{
    width: 40%;
}

.formulário{
    width: 70%;
}


.div-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    font-size: 24px;    
}

.input-depoimentos{    
    height: 150px;
    width: 60%;    
    text-align: justify;
}

.input-nome{
    width: 60%;
    height: 35px;

}


label{
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 5px;  
    text-align: start;
}

.container-btn{
    display: flex;
    justify-content: space-evenly;
}

.btn{
    width: 150px;
    height: 40px;
    margin: 15px;
    border-radius: 20px;
    background-color: #1e4613;
    color: #fff8dc;
}


.div-map{
    margin-top: 30px;
    width: 40%;   
    border: 1px double  #1e4613;
   padding: 5px  15px;
}

.depoimentos-texto{
    font-size: 1rem;
    width: 100%;
    text-align: justify;
}

.depoimentos-nome{
    font-size: 0.8rem;
    font-style: italic;
}


@media(max-width: 620px){

    .depoimento-marisa{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .texto-depoimentoMarisa{
        width: 80%;
        text-align: justify;
    }
    

    .imagem-depoimento{
        width: 70%;
    }

    .div-map{      
        width: 90%;          
    }
    

}






